<!DOCTYPE html>
<html lang="en" class="h-full">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://unpkg.com/vue@3"></script>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="h-full grid place-items-center">
    <div id="app">
      <section v-if="incompleteTasks.length">
        <h2 class="font-bold mb-2">Incomplete Tasks</h2>
        <ul>
          <li v-for="task in incompleteTasks" :key="id">
            <label>
              <input type="checkbox" v-model="task.completed" />
              {{ task.name}}
            </label>
          </li>
        </ul>
      </section>
      <section v-if="completedTasks.length">
        <h2 class="font-bold mb-2">Completed Tasks</h2>
        <ul>
          <li v-for="task in completedTasks" :key="id">
            <label>
              <input type="checkbox" v-model="task.completed" />
              {{ task.name}}
            </label>
          </li>
        </ul>
      </section>
    </div>
    <script>
      let app = {
        data() {
          return {
            tasks: [
              { id: 1, name: "Learn Javascript", completed: false },
              { id: 2, name: "Learn Vue", completed: false },
              { id: 3, name: "Learn Quasar", completed: false },
            ],
          };
        },
        computed: {
          incompleteTasks() {
            return this.tasks.filter((task) => !task.completed);
          },
          completedTasks() {
            return this.tasks.filter((task) => task.completed);
          },
        },
      };
      Vue.createApp(app).mount("#app");
    </script>
  </body>
</html>
